@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --yellow:#f9ca24;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:2.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 80vh;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 3rem;
    border-radius: 5rem;
}
.btn1{
    padding:.5rem 2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    margin: 3px;
    text-align: center;
    width: 100%;

    display: flex;
  justify-content: center;
  align-items: center;

}
.btn1:hover{
    background:var(--yellow);
}
.btn-col{
    margin-bottom: 10px; 
    margin-top: 10px; 
    display:flex; 
    justify-content:center;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
    
}

.heading span{
    color:var(--yellow);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    /*display: flex;*/
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.profile-pic{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--yellow);
}
.signature{
    margin-bottom: 22px;
    margin-left: 10px;
}
.photos{
    height:17rem;
    width:17rem;
    border-radius: 15%;
    object-fit: cover;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.849) 2px 15px 15px;
    
}
.defoult-profile{
    display: none;
    height: 80px; 
    width: 80px; 
    border:.5rem solid var(--yellow); 
    margin-top:10px; 
    margin-left: 10px;
}
.nav-head{
    display: flex;
     background-color: black; 
     /* position: -webkit-sticky;*/
     position:fixed; 
     top: 0;
     right: 0;
     left: 280px;
     z-index: 500;
     
}
.nav{
    width: 100%;
    justify-content: end;
    display: flex;
    margin-right: 20px;
}

.nav ul li a {
    display: block;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 5rem;
  }
  .nav ul li {
    display: inline-flex;
    
  }
.nav ul li a:hover{
    background:var(--yellow);
}
.sub-nav{
    position: fixed;
    top: 80px;
    right: 0;
    left: 280px;
    z-index: 1;
    background:#111;
}

header .user .name{
    font-size: 3.5rem;
    color:#fff;
}

header .user .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}
a{
    text-decoration: none;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2.5rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--yellow);
}
footer{
    background-color: black;
    color: white;
    height: 100%;
    padding: 30px 10px 30px 10px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
footer span{
    color: var(--yellow);
}
.footer-content{
    text-align: center;
}
footer i{
    color: blue;
    font-size: 3rem;
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 2001;
    display: none;
    margin-top: 18px;
}

.home{
    /*display: flex;*/
    /* margin-top: 100px; */
    justify-content: center;
    flex-flow: column;
    /* padding:0 5rem; */
}
.home-content{
    padding:0 5rem;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:3rem;
    color:#eee;
    padding: 1rem 0;
}
.portfolio p{
    font-size:2.5rem;
    color:#eee;
    padding: 1rem 0;
    text-align: justify;
}
.mt-5{
    margin-top: 5rem;
}
.mt-3{
    margin-top: 3rem;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--yellow);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--yellow);
}

.portfolio{
    padding-left: 20px;
    padding-right: 20px;
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 28rem;
    width:15rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

#portfolio .body ul li a{
    font-size: 3rem;
    color:var(--yellow);
}
#portfolio .body ul li{
    font-size: 3rem;
    color:var(--yellow);
}



.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.row {
    /* --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0; */
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}

.d-flex {
    display: flex !important;
  }
  .align-items-center {
    align-items: center !important;
  }

  .justify-content-center {
    justify-content: center !important;
  }



















/* media queries  */


@media (min-width:768px){

    html{
        font-size: 50%;
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
      }
 
 }

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        /* padding:1rem 4rem; */
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
      }
      .nav-head{
          left: 305px;
      }
      .sub-nav{
        left: 305px;
      }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }
   .defoult-profile{
       display: inline;
   }
   .nav-head{
    left: 0;
   }
   .sub-nav{
    left: 0;
   }
   .nav{
    padding-top: 22px;
    margin-right: 80px;
   }
   .nav ul {
        margin-top: 0px !important;
    }

   body{
       padding:0;
   }
   .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
      }
      
 
 }

 @media (max-width:570px){
      .nav ul {
        display: none;
        
      }
 }

 @media (max-width:470px){
    .col-6 {
        flex: 0 0 auto;
        width: 50%;
      }
 }
 

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }
    .col-6 {
        flex: 0 0 auto;
        width: 50%;
      }

 }

 

 @media (max-width:350px){
    .col12{
        flex: 0 0 auto;
        width: 100%;
    }
    .photos{
        height: 30rem;
        width: 30rem;
    }
 }

