body{
    background-image: url('../img/pic1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 60px;
}
hr{
    height: 10px;
    background-color: bisque;
    
}
.main-dv{
    display: flex;
    justify-content: center;
}

.outer-box{
    margin-top: 20px;
    height: 300px; 
    width: 300px; 
    padding:50px; 
    background-color: white;

}
.inner-box{
    height: 300px;
     width: 300px; 
     background-color: black;
}




.pu{
    height: 10px;
    width: 100px;
    position: relative;
    background-color: aqua;
}

.mid{
    height: 100px;
    width: 10px;
    position: absolute;
    margin-top: 10px;
     margin-left: 45px;
    
    background-color: rgb(232, 250, 73);
}
.down{
    height: 100px;
    width: 10px;
    position: absolute;
    margin-top: 10px;
    /* margin-left: 45px; */
    
    background-color: rgb(232, 250, 73);
}

.right{
    height: 100px;
    width: 10px;
    position: absolute;
    margin-top: 10px;
    margin-left: 90px;
    
    background-color: rgb(232, 250, 73);
}
.center{
   
    width: 100px;
    text-align: center;
    position: absolute;
    
    height: 20px;
    margin-top: 45px;
    
}
.end{
    height: 10px;
    width: 100px;
    position: absolute;
    background-color: aqua;
    margin-top: 100px;
    
}
