body{
    display: grid;
    margin: 0px;
    grid-template-columns: 20%;
    grid-template-areas: "head head"
    "sidebar main"
    "footer footer";
    background-image: url('img/pic1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.main-body{
    background-color: black;
}
.main-div{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.outer-div{
    height: 400px;
    width: 300px;
    position: relative;
    background-color: blue;
}
.inner-div{
    height: 400px;
    width: 200px;
    margin-left: 100px;
    position: absolute;
    background-color: green;
}
 .core-div{
    height: 400px;
    width: 100px;
    margin-left: 100px;  
    position: relative;
    background-color: greenyellow;
} 
.my-container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25px;
    width: 250px;
    background-color: black;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    text-align: right;
}


li{
    display: inline !important;
    background-color: blue;
    padding: 5px;
    color: white;
    border-radius: 5px;
}
header{
    padding: 10px;
    background-color: green;
    grid-area: head;
    
    position: sticky;
    top: 0;
}
main{
    grid-area: main;
    
    
    padding: 20px;
    text-align: justify;
    color: white;
}
.img{
    height: 5px;
    width: 5px;
}
aside{
    background-color: aqua;
    color: white;
}
footer{
    background-color: blue;
    padding: 20px;
    color: white;
    grid-area: footer;
}
a{
    color: white;
    text-decoration: none;
}